[submodule "src/struct_frame/boilerplate/cpp/struct_frame_sdk/asio-repo"]
	path = src/struct_frame/boilerplate/cpp/struct_frame_sdk/asio-repo
	url = https://github.com/chriskohlhoff/asio.git
	branch = asio-1-30-2
